<div class="navbar" navbar-default>
    <a routerLink="/" class="navbar-brand"> Inventory Barang</a>
  <div class="container-fluid">
    <div class="navbar-header">
    </div>
    <div class="collapse navbar-collapse">
    </div>
    <ul class="nav navbar-nav">
        <li routerLinkActive="active">
          <!-- <a href="#"(click)="onSelect('recipe')">Recipes</a> -->
          <a routerLink="/recipes">Data Barang</a>
        </li>
        <li routerLinkActive="active">
          <!-- <a href="#"(click)="onSelect('shooping-list')">Shopping List</a> -->
          <a routerLink="/shopping-list">Data Pinjam Barang</a>
        </li>
      </ul>
  </div>
</div>
